<div class="container">
    <!--<table class="table table-hover">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>Author Name</th>
            <th>Price</th>
            <th colspan="3">Actions</th>
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.releaseDate }}</td>
                <td>{{ book.authorName }}</td>
                <td>{{ book.price }}</td>
                <td><a [routerLink] = "['get', book.isbn]" class="btn btn-primary">Edit</a></td>
                <td><a (click)="delete(book.isbn)" class="btn btn-danger">Delete</a></td>
                <td>
                    <input type="number" #quantity value=1 min="1" max="5">&nbsp;
                    <a (click)="addToCart(book.isbn,quantity.value)" class="btn btn-success">+Cart</a>
                </td>
            </tr>
        </tbody>
    </table>-->
    <div class="row text-center">
        <div *ngFor="let book of books" class="col-xl-3 col-sm-6 mb-5">
            <div class="card" >
                <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p>
                    <a [routerLink] = "['get', book.isbn]" class="btn btn-primary" style="margin: 10px;">Edit</a>
                    <a (click)="delete(book.isbn)" class="btn btn-danger" style="margin: 10px;">Delete</a>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Release date: {{ book.releaseDate }}</li>
                  <li class="list-group-item">Author: {{ book.authorName }}</li>
                  <li class="list-group-item">Price: {{ book.price }} DT</li>
                </ul>
                <div class="card-body">
                  <p>
                    <input type="number" #quantity value=1 min="1" max="5">&nbsp;
                    <a (click)="addToCart(book.isbn,quantity.value)" class="btn btn-success">+Cart</a>
                  </p>
                </div>
            </div>

            <!--<div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>-->
        </div>
    </div>

    
</div>